.container,.container__lg {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    padding-inline: 20px;
    margin: 0 auto;
    position: relative;
}

@media screen and (min-width:768px) {
    .container,.container__lg {
        padding-inline: 32px;
    }
}
@media screen and (min-width:1280px) {
    .container {
        padding-inline: 64px;
    }
}