.page__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: var(--color-text-primary);
    text-wrap: nowrap;
}

@media screen and (min-width:768px) {
    .page__title {
        font-size: 54px
    }
}