.header,.header__home {
    position: relative;
    display: flex;
    gap: 12px;
    align-items: center;
    padding-block: 28px;
    min-height: 96px;
    z-index: 10;
    overflow: hidden;
}

.header__home{
    padding-inline: 20px;
}
.icon {
    width: 76px;
    height: 20px;
}

.logo {
    margin-right: auto;
    transform: scale(1);
    transition: transform var(--transition);
}

@media screen and (min-width:768px) {
    .header,.header__home {
        min-height: 114px;

        gap: 16px;
        padding-block: 32px;
    }
    .header__home{
        padding-inline: 32px;
    }
    .icon {
        width: 106px;
        height: 28px;
    }

    .logo {
        margin-right: auto;

    }
}

@media screen and (min-width:1280px) {
    .header,.header__home {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: flex-end;
     
    }
}

.logo:hover {
    transform: scale(1.1);
    transition: transform var(--transition);
}
